.container {
  width: 600px;
  margin: auto;
  background-color: #ddd;
  border: 5px solid #ddd;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}

.header {
  width: 90%;
  margin: 0% 5%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px dashed black;
}

.inputGroup {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .inputGroup {
    flex-wrap: wrap;
  }
}

.statGroup {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.labelBox {
  flex-basis: 1 1;
  height: 50px;
  margin: 10px 0px;
  border: 1pt solid black;
}

.conditionsBox {
  flex-basis: 3 3;
  height: 50px;
  margin: 10px 0px;
  border: 1pt solid black;
}

@media screen and (max-width: 600px) {
  .statGroup {
    flex-wrap: wrap;
  }

  .labelBox, .conditionsBox {
    width: 100%;
  }
}

.potentialGroup {
  text-align: left;
  flex-wrap: nowrap;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .potentialGroup {
    text-align: center;
    flex-wrap: wrap;
  }
}

.potentialField {
  flex-grow: 1;
}

.potentialGroup input {
  vertical-align: middle;
}
.potentialGroup button {
  vertical-align: baseline;
  margin: 0px 10px;
}
