.fieldTextArea {
  width: 100%;
}

.fieldFooter {
  width: 100%;
  text-align: right;
  margin-top: 5px;
}

.fieldSaveButton {
  cursor: pointer;
  font-size: 15pt;
  height: 20px;
  width: 20px;
  background-color: gray;
  border-radius: 5px;
}

.fieldSaveButton:hover {
  color: white;
  background-color: black;
}
