
.potentialGroup {
  text-align: left;
  flex-wrap: nowrap;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .potentialGroup {
    text-align: center;
    flex-wrap: wrap;
  }
}

.potentialField {
  flex-grow: 1;
}

.potentialGroup input {
  vertical-align: middle;
}
.potentialGroup button {
  vertical-align: baseline;
  margin: 0px 10px;
}
