.field {
  width: 180px;
  box-sizing: border-box;
  padding: 12px 16px 0px 0px;
  text-align: left;
}

.fieldLabel {
  font-size: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

input.fieldInput {
  height: 15pt;
  width: 90px;
  display: inline-block;
}

.fieldText {
  height: 32px;
  line-height: 32px;
  width: 140px;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .field {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  .fieldLabel {
    flex-grow: 1;
    min-width: 100px;
  }

  .fieldLabel {
    width: 100px;
    flex-grow: 3;
  }
}
