.container {
  width: 600px;
  margin: 20px auto;
  background-color: #ddd;
  border: 5px solid #ddd;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin-top: 0px;
  }
}

.header {
  width: 90%;
  margin: 0% 5%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px dashed black;
}

.subheader {
  margin-top: 10px;
  font-weight: bold;
  font-size: small;
}

.tinyLink {
  font-size: smaller;
  margin: 0px 5px;
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.tinyLink.error {
  color: gray;
}

.tinyNotLink {
  font-size: smaller;
}

.bold {
  font-weight: bold;
}

.inputGroup {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .inputGroup {
    flex-wrap: wrap;
  }
}

.statGroup {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.labelBox {
  text-align: left;
  flex-basis: 1 3;
  min-width: 30%;
  margin: 10px 0px;
}

.rowHighlight {
  margin: 0px;
}

.rowLowlight {
  background-color: #bbb;
  margin: 0px;
}

.conditionsBox {
  text-align: left;
  flex-basis: 3 3;
  min-width: 65%;
  margin: 10px 0px;
}

@media screen and (max-width: 600px) {
  .statGroup {
    flex-wrap: wrap;
  }

  .labelBox, .conditionsBox {
    width: 100%;
  }
}

.influenceGroup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.influenceColumn {
  width: auto;
  flex-grow: 1;
  margin: 0px 10px;
}

@media screen and (max-width: 600px) {
  .influenceColumn {
    width: 100%;
  }
}

.modalOverlay {
  position:fixed;
  top:0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
    background-color: white;
    padding: 0px 10px 10px 10px;
    border: 1px solid gray;
    width: 300px;
    margin: auto;
}

/* Buttons: should be moved into their own component */

.saveButton, .cancelButton {
  display: inline-block;
  margin: 0px 3px;
  cursor: pointer;
  font-size: 12pt;
  line-height: 15pt;
  height: 21px;
  width: 21px;
  text-align: center;
  background-color: gray;
  border-radius: 5px;
}

.saveButton:hover, .cancelButton:hover {
  color: white;
  background-color: black;
}
